.helloWorld {
  font-size: 12em;
  text-shadow:
               0em 0em 20px white,
               0em 0em 40px white,
               0em 0em 40px white,
               0em 0em 20px white,
               0em 0em 60px #ff0000,
               0em 0em 80px #ff0000,
               0em 0em 60px #ff0000,
               0em 0em 60px #ff0000; /* x-axis y-axis blur color */
  font-family: "Montserrat";
  text-align: center;
  color: rgb(131, 126, 126);
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(161, 161, 161);
  box-shadow: inset 0px 0px 200px 30px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.panel {
  background-color: rgb(64, 64, 64);
  width: 50%;
  height: 100%;
  display: inline-block;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.elevator {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
